.EmotionItem {
  width: 5%;
  cursor: pointer;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 10px; 작은 화면일 때 맞음*/ 
  margin: 2% 3.5%;

}

.EmotionItem img {
  /* width: 50px; 작은 화면일 때 */
  width: 4.5vw;
}

.EmotionItem span {
  font-size: 90%;
  font-weight: 600;
}

.EmotionItem-small span {
  margin-top: 10px;
  font-size: 13px;
}

/* .EmotionItem-off {
} */

.EmotionItem-on {
  background-color: #E7F998;
}
