.CheckItem{
    display: flex;
    align-items: baseline;
    gap: 10px;
    width: 70%;
    height: 30px;
    padding: 17px 30px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.155);
    margin: 0 auto;

}
.content-col{
    height: 50px;
    flex: 1;
    overflow: hidden;}