.intro-header {
  position: fixed;
  top: 0;
  z-index: 5;

  width: 80%;
  height: 13rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;

  background-color: white;
}
.intro-header img {
  width: 30%;
  height: 100%;
  object-fit: contain;
}
.intro-header button {
  background-color: white;
  border-style: none;
  border-radius: 25px;
  width: 5em;
  height: 3em;

  font-family: 'Pretendard-Regular';
  font-size: 1.7em;
  font-weight: 700;

  position: absolute;
  top: 3em;
  right: 0.6em;
}
.intro-header button:hover {
  background-color: #7dccac;
  border-radius: 25px;
  width: 5em;
  height: 3em;
  cursor: pointer;
  color: white;
}
