.detail-bar {
    display: flex;
    height: 50px;
    margin: 0% 5% 2% 65%;
    border-radius: 15px;
    background-color: #E7F998;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#detail-omg{
    padding-top: 5.5%;
}

.detail-title-bar {
    display: flex;
    height: 70px;
    margin: 0% 5% 2% 110px;
    padding-left: 30px;
    background-color: none;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 8px;
    border-radius: 15px;
}

.detail-title-bar p {
    width: 90%;
    font-weight: bolder;
    margin-top: 28px;
    font-size: large;
}

#post-back {
    padding-left: 20px;
    justify-content: flex-start;
}

.button-right {
    margin-left: auto;
    margin-right: 7%;
    position: relative;
}

.detail-textarea p {
    margin: 10px 40px 0 0;
    padding: 23px 0px 27px 23px;
    display: flex;
    width: 95%;
    border: none;
    border-radius: 18px;
    outline: none;
    font-size: 19px;
    overflow-y: scroll;
    resize: none;
    border-right: 15px;
    text-align: left;
}

.detail-textarea {
    display: grid;
    border-radius: 18px;
    margin: 0% 5% 10px 110px;
    height: 480px;
    box-sizing: border-box;
    background-clip: padding-box;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 8px;
}

.detail-textarea ::-webkit-scrollbar {
    display: none;
}

.detail-textarea p {
    scrollbar-width: none;
    overflow-wrap: break-word;
    word-break: keep-all;
}

#detail-submit {
    background-color: #B9ED90;
    border: none;
    border-radius: 8px;
    width: 90px;
    height: 28px;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 2px 0px inset;
}

#detail-submit:hover {
    background-color: #7DCCAC;
}

.detail-comment-bar {
    display: flex;
    height: 40px;
    margin: 0% 6% 2% 119px;
    border-radius: 15px;
    padding-left: 30px;
    background-color: none;
    align-items: center;
    background-color: #B9ED90;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 01px 2.7px;
}

.detail-comment-bar p {
    width: 90%;
    font-size: large;
    text-align: left;
}

.detail-comment-input .input-text {
    display: flex;
    width: 100%;
    align-items: center;
}

.detail-comment-input .input-text input {
    justify-content: left;
    height: 37px;
    width: 100%;
    margin: 0% 2% 7px 119px;
    border-radius: 15px;
    padding-left: 30px;
    border: 0.1px solid #b8ed9060;
    box-shadow: inset #B9ED90 0px 17px 45px -20px;
}

.detail-form {
    display: flex;
    align-items: center;
}

.detail-comment-input input {
    border: none;
    font-size: large;
    margin-right: 7%;
}

#detail-comment-submit {
    background-color: #B9ED90;
    border: none;
    border-radius: 8px;
    width: 90px;
    height: 33px;
    font-weight: bold;
    margin-bottom: 7px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#detail-comment-submit:hover {
    background-color: #7DCCAC;
    cursor: pointer;
}

.detail-comment-bar button {
    cursor: pointer;
    background-color: #B9ED90;
    border: 3px solid #B9ED90;
    border-radius: 20px;
    font-size: x-large;
    display: flex;
    align-items: center;
}

#detail-secret {
    position: absolute;
    z-index: 2px;
    font-size: x-large;
    margin-left: 34px;
    margin-top: 2px;
}

