.Header{
    display: flex;
    width: 5.5%;
    height: 100vh;
    justify-content: center;
    /* border-radius: 20px; */
    background-color: #F1F1F1;
    position: fixed;
}


.logo-icon{
    width: 100%;
    margin: 80% 0px;
}
.LogoImg{
    width: 70%;
    height: 70%;
}

.mid-icons{
    width: 100%; 
}

.mid-icon{
    padding: 0.7vh 0px;
    margin: 0.7vh 0px;

}
.pagename{
    visibility: hidden;
    margin-top: 0px;
}

.end-icon{
    margin-top: 170%;
}

.dropdown-content{
    display : none;
    margin: -65% 100%;
    position : absolute;  
    font-weight: 500;
    background-color: #7dccacea;
    width: 100px;
     
}
.dropdown-content p{
    display : block;
    margin: 0 auto;
    width: 100px;
    text-decoration : none;
    color : rgb(0, 0, 0);
    font-size: 13px;
    padding : 15px 0px;
}

.mid-icon:hover .dropdown-content{
    display: block;
}
.mid-icon:hover .pagename{
    visibility: visible;
}

.dropdown-content p:hover{
    width: 100px;
    background-color: #fffafdea;
}
