.Header{
    display: flex;
    width: 80px;
    height: 100vh;
    justify-content: center;
    border-radius: 20px;
    margin: 15px;
    background-color: #7DCCAC;
}

.logo-icon{
    margin: 40px 0px 40px 0px;
}
.LogoImg{
    width: 70px;
    height: 70px;
}
.mid-icon{

    margin: 20px 0px 20px 0px;

}

.end-icon{
    margin-top: 290px;
}

/* 안 떠 있는 버전  */
/* 
.dropdown-content{
    display : none;
    position : absolute;  
    z-index : 1; 
    font-weight: 500;
    background-color: #7dccac;
} */
 /* 떠 있는 버전 */
.dropdown-content{
    display : none;
    border-radius: 30px;
    position : absolute;  
    z-index : 1; 
    font-weight: 500;
    background-color: #7dccaca2;
    min-width: 250px; 
}
.dropdown-content p{
    display : block;
    text-decoration : none;
    color : rgb(0, 0, 0);
    font-size: 13px;
    padding : 12px 20px;
  }
/* 안 떠 있는 버전  */
/* 
.dropdown-content p:hover{
    background-color: #fffafd69;
} */
 /* 떠 있는 버전 */
.dropdown-content p:hover{
    border-radius: 30px;
    background-color: #fffafd;
}
.mid-icon:hover .dropdown-content{
    display: block;
}