@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}
.intro {
  height: 100%;
  width: 80%;
  margin: auto;
  position: relative;
}
.top-btn {
  position: fixed;
  right: 30px;
  bottom: 50px;
  font-size: 2vw;
  font-family: 'Pretendard-Regular';
  font-weight: 500;

  border-style: none;
  border-radius: 20px;
  padding: 10px 10px;

  background-color: #7dccac;
  color: white;

  display: flex;
  align-items: center;

  text-decoration: none;
}
.top-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.top-btn span {
  margin-right: 3px;
  font-size: 1.7vw;
}
