.new-bar{
    display:flex;
    height: 50px;
    margin:3% 5% 2% 110px ;
    border-radius: 15px;
    background-color: #E7F998;
    align-items:center;
}

.new-title-bar{
    display:flex;
    height: 70px;
    margin:0% 5% 2% 110px ;
    border-radius: 15px;
    padding-left: 30px;
    background-color: #E7F998;
    align-items: center;
    text-align: left;
}

#post-back{
    padding-left: 20px;
    justify-content: flex-start;
}

.checkbox-right{
    padding-right: 30px;
}

.button-right{
    margin-left:auto;
    margin-right: 7%;
}

.new-title-bar p{
    width: 90%;
}

.new-title-bar input{
    border: none;
    width: 75%;
    background-color: #E7F998;
    font-size: 20px;
    font-weight:normal;
}

.new-title-bar input:focus{
    outline: none;
}

.new-textarea textarea{
    margin: 10px 40px 0 0 ;
    padding-left: 15px;
    display:flex;
    width: 97%;
    border:none;
    border-radius: 18px;
    outline: none;
    font-size: 19px;
    overflow: hidden;
    resize: none;
    display: block;
    border-right: 15px;
}

.new-textarea {
    display: grid;
    border: 5px solid #B9ED90;
    border-radius: 18px;
    margin:0% 5% 5% 110px;
    height: 600px;
    box-sizing: border-box;
    background-clip: padding-box; 
}

#new-submit{
    background-color: #7DCCAC;
    border: none;
    border-radius: 50px;
    width: 90px;
    height: 28px;
    font-weight: bold;
}

#new-submit:hover{
    background-color:#B9ED90;
}