.contents-view {
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 940px;
}

.contents-view .content {
  box-shadow: 0px 0px 15px #d9d9d9; 

  padding: 20px;
  border-radius: 12px;
  width: 100%;
  text-align: left;
  position: relative;
}

.contents-view h2 {
  margin-bottom: 5%;
  margin-top: 0;
  color: #333;
  text-align: center;
}

.back-button2 {
  position: absolute;
  top: 5px;
  margin-left: 100%;
  background: none;
  border: none;
  font-size: 2em;
  cursor: pointer;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

.back-button2:hover {
  background-color: #7dccac4a;
  border-radius: 8px;
}


.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.play-pause-button {
  background: none;
  border: none;
  font-size: 2em;
  cursor: pointer;
  color: #007BFF;
  transition: color 0.3s;
}

.play-pause-button:hover {
  color: #0056b3;
}

.skip-button {
  background: none;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  color: #007BFF;
  transition: color 0.3s;
}

.skip-button:hover {
  color: #0056b3;
}

.seek-slider {
  width: 45%;
  -webkit-appearance: none;
  appearance: none;
  height: 8px;
  border-radius: 5px;
  background: #ddd;
  outline: none;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.seek-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #007BFF;
  cursor: pointer;
  transition: background 0.3s;
}

.seek-slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #007BFF;
  cursor: pointer;
  transition: background 0.3s;
}

.seek-slider:hover {
  opacity: 1;
}

.seek-slider:hover::-webkit-slider-thumb {
  background: #0056b3;
}

.seek-slider:hover::-moz-range-thumb {
  background: #0056b3;
}

.volume-control {
  display: flex;
  align-items: center;
}

.volume-slider {
  width: 100px;
  -webkit-appearance: none;
  appearance: none;
  height: 8px;
  border-radius: 5px;
  background: #ddd;
  outline: none;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #007BFF;
  cursor: pointer;
  transition: background 0.3s;
}

.volume-slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #007BFF;
  cursor: pointer;
  transition: background 0.3s;
}

.volume-slider:hover {
  opacity: 1;
}

.volume-slider:hover::-webkit-slider-thumb {
  background: #0056b3;
}

.volume-slider:hover::-moz-range-thumb {
  background: #0056b3;
}

.time {
  font-size: 1em;
  color: #333;
  min-width: 100px;
  text-align: center;
}

.player-wrapper {
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.overlay.top {
  top: 0;
  height: 57px;
}

.overlay.bottom {
  bottom: 0;
  height: 40px;
}
