@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.login-form {
  width: 80vw;
  height: 70vh;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: 'Montserrat', sans-serif;
}
.login-form img {
  display: block;
  width: 100%;
  height: 20%;
  object-fit: contain;
}
.login-input {
  width: 100%;
  height: 70%;
  padding-bottom: 2em;
}
.login-other {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-input h1 {
  font-size: 2em;
}
.input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}
.id-input {
  border-bottom: 1px solid #7dccac;
  margin-bottom: 1.5em;
}
.id-input label {
  margin-right: 1em;
}
.id-input input {
  border-style: none;
  outline: none;
  font-size: 1.5rem;
}
.pw-input {
  border-bottom: 1px solid #7dccac;
  margin-bottom: 5em;
}
.pw-input label {
  margin-right: 1em;
}
.pw-input input {
  border-style: none;
  outline: none;
  font-size: 1.5rem;
}
.input-form button {
  border-style: none;
  background-color: #7dccac;
  color: white;
  border-radius: 10px;
  font-weight: 500;
  font-size: 25px;
  width: 220px;
  padding: 0.5em 0;
}
.input-form button:hover {
  cursor: pointer;
}
